// Layout Styles
table.container > tbody > tr > td{
	padding-top: 20px;
}

table.row > tbody > tr > th{
	padding-top: 20px;
}

// Body Styles

table.container{
	background: transparent;
}

table.row{
	background: #ffffff;
}

table.row.header-meta{
	background: transparent;
	th{
		padding: 0;
		p, a{
			font-size: 12px;
		}
	}
}

// Buttons
.button {
	td {
		border-radius: 30px;
		border: 0px solid transparent !important;
	}
	a {
		text-align: center;
	}
}
