/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

table.footer{
	.logo{
		img{
			max-width: 125px;
		}
	}
	.icon{
		width: 25px;
		height: 25px;
		padding-left: 10px;
		padding-right: 10px;
		&.last{
			padding-right: 20px;
			table{
				max-width: 36px;
			}
		}
		a{
			display: block;
			border: 1px solid #2F2F2F;
			border-radius: 50%;
			width: 35px;
			&:hover{
				background-color: #2F2F2F;
			}
		}
	}
	table.row{
		background: transparent;
		tr{
			vertical-align: middle;
		}
	}
}

table.container table.footer-copy{
		background: transparent;
		th{
			padding-top: 20px;
		}
		table{
			th{
				padding-top: 0;
			}
		}
		p{
			font-family: $body-font-family;
			font-size: 11px;
			line-height: 16px;
			text-align: center;
			margin-bottom: 0;
			color: #808080;
		}
	}
