/*
|--------------------------------------------------------------------------
| Headers
|--------------------------------------------------------------------------
*/

// General Styles
table.header{
	.container {
	  background: transparent;
	}
	.columns {
	  padding-bottom: 0;
	}
	p {
	  color: #fff;
	  padding-top: 15px;
	}
	.wrapper-inner {
	  padding: 20px;
	}
}

table.header table.row, table.container.header{
	background: transparent;
}


// Stacked Header
table.header.header--stacked{
	&.header-bg-inverse{
		h4{
			color: #ffffff;
		}
	}
	.logo{
		max-width: 50%;
		margin: 0 auto;
		display: block;
		img{
			width:100%;
			height: auto;
		}
	}
	h1, h2, h3, h4, h5{
		text-align: center;
	}
	h1{
		font-size: 40px;
    font-weight: bold;
		margin-top: 5px;
	}
}

@include mobile{
	table.header.header--stacked{
		h1{
			font-size: 30px !important;
		}
	}
}

// Horizontal Header - Logo on left
table.header.header--horizontal{
		tr{
			vertical-align: middle;
		}
		th{
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.first{
			padding-left: 30px;
			padding-right: 0;
		}
		.last{
			padding-right: 30px;
		}
	.logo{
		img{
			width: 100%;
			height: auto;
		}
	}
	.header--title{
		table{
			border-left: 1px solid #6e6e6e;
		}
		h1{
			padding-left: 20px;
		}
	}
	.header--date{
		h5{
			text-transform: uppercase;
			text-align: right;
			margin-bottom: 0;
		}
	}
	&.header--dark{
		background: #000000;
		h1, h2, h3, h4, h5, h6, p{
			color: #ffffff;
		}
		.header--title{
			table{
				border-left: 1px solid #878787;
				th{
					padding-left: 20px;
				}
			}
		}
	}
}

// Mobile

@include mobile{
	table.header--horizontal{
		th{
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		.first{
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.last{
			padding-right: 0 !important;
			padding-bottom: 20px !important;
		}
		.logo{
			padding-right:0 !important;
			padding-top: 10px !important;
			padding-left: 0 !important;
			padding-bottom: 0 !important;
			a{
				max-width: 200px !important;
				margin: 0 auto !important;
				display: block !important;
			}
		}
		.header--title{
			padding-left: 0 !important;
			padding-right: 0 !important;
			padding-top: 10px !important;
			table{
				border-left: none !important;
			}
			h1{
				text-align: center !important;
				padding-left: 0 !important;
			}
		}
		.header--date{
			h5{
				text-align: center !important;
			}
		}
	}
}
