
// Add .first-story class to give extra padding top
table.container table.first-story{
	th.first{
		padding-top: 30px;
	}
}

// Responsive Images
table.body .story{
	img{
		width: 100%;
		height: auto;
	}
}

.centered{
	text-align: center;
}

th.centered{
	p, h1, h2, h3, h4, h5, h6, a{
		text-align: center;
	}
	.button{
		margin: 0 auto;
	}
}

@include mobile{
	table.body .columns{
		&.first{
			padding-bottom: 5px !important;
		}
		&.pad-bottom{
			padding-bottom: $global-padding !important;
		}
	}
}
