/*
|--------------------------------------------------------------------------
| Layouts - Story Arrangements
|--------------------------------------------------------------------------
*/

// Sidestack Feature

table.body .feature-sidestack-img th{
	padding-bottom: 5px;
}

table.body .feature-sidestack.story th{
	padding-top: 0;
}

@include mobile{
	table.body .feature-sidestack{
		.first{
			padding-bottom: 5px !important;
			padding-top: 0;
		}
		.last{
			padding-top: 0;
		}
	}
}

// 2 Column Layout
table.body .mobile-2col{
	tr{
		vertical-align: middle;
	}
}

table.reverse{
	direction: rtl;
	.first{
		padding-left: 15px;
    padding-right: $global-padding;
	}
	.last{
		padding-right: 15px;
    padding-left: $global-padding;
	}
}

table.body .col-2{
	img{
		margin-bottom: 10px;
	}
}

// Horizontal Stories

table.body .story-horizontal{
	th{
		vertical-align: middle;
	}
}

@include mobile{
	table.body .mobile-2col{
		h2{
			font-size: 16px !important;
		}
		.first{
			padding-right: 0 !important;
			padding-bottom: $global-padding !important;
		}
		.last{
			padding-left: 15px !important;
		}
	}

	// On mobile stack the photo on the right above the text
	table.body .mobile-2col.reverse {
		.first{
			padding-left: 0 !important;
			padding-right: $global-padding !important;
			padding-bottom: $global-padding !important;
		}
		.last{
			padding-right: 15px !important;
			padding-left: $global-padding !important;
		}
	}
}

// Color Block Sections
table.color-block{
	table.row{
		background: transparent;
	}
	.wrapper-inner{
		padding: 30px;
	}
	th{
		&.first, &.last{
			padding-bottom: 0;
			padding-top: 0;
		}
		&.first{
			padding-left: 0;
			padding-right: 0;
		}
		&.last{
			padding-right: 0px;
			padding-left: 0px;
			th{
				padding-right: 25px;
				padding-left: 25px;
				padding-top: 25px;
				padding-bottom: 25px;
			}
		}
	}
}

table.body .color-block.color-block-inverted{
	th{
		color: $white;
		a, p{
			color: $white;
		}
	}
}

table.body .color-block-cta{
	th, h1, h2, h3, h4, h5, p{
		text-align: center;
	}
	h1{
		font-size: 35px;
		margin-bottom: 20px;
	}
	table.button {
    width: auto;
    margin: 0 0 0 0;
    Margin: 0 0 0 0;
	}
}

table.body .color-block{
	table.button {
    width: auto;
    margin: 0 0 0 0;
    Margin: 0 0 0 0;
	}
	tr{
		vertical-align: middle;
	}
}

table.ad{
	th, tr{
		text-align: center;
	}
	a{
		display:inline-block;
	}
}

table.container table.row .story.large-4{
	img{
		margin-bottom: 10px;
	}
}

@include mobile{
	table.body .color-block{
		.wrapper-inner{
			padding: 10px !important;
		}
		th{
			&.first{
				padding-left: 0 !important;
				padding-right: 0 !important;
				padding-bottom: 0 !important;
			}
			&.last{
				th{
					padding-right: 0 !important;
					padding-left: 0 !important;
				}
			}
		}
	}
}

// Horizontal stories

table.story-imgsquare{
	.deck{
		text-align: left !important;
	}
}

@include mobile{
	// Stacking to vertical
	table.container table.row{
		&.stack-mobile{
			th.columns.last{
				padding-top: 0 !important;
			}
		}
	}
}

	table.container table.row.centered{
		p, h1, h2, h3, h4, h5{
			text-align: center;
		}
	}

// CTA

.cta{
	.magazine{
		max-width: 50%;
		margin: 20px auto;
		display: block;
		box-shadow: 0 5px 10px rgba(0,0,0,.25);
	}
}

@include mobile{
	.cta{
		.magazine{
			max-width: 80% !important;
		}
	}
}

// story-featured-info-bottom
.feature-img-text{
	img{
		margin-bottom: 15px;
	}
}

// Spacer
table.container table.spacer{
	background: transparent;
	height: 30px;
}
