table.container table.section-title{
	th{
		padding-bottom: 0;
	}
	table{
		th{
			padding-top: 15px;
		}
		h1{
			font-weight: bold;
			font-size: 28px;
    	margin-bottom: 0;
		}
		h4{
			font-style: italic;
		}
	}
	&.border{
		table{
			border-top: 1px solid black;
		}
	}
}

p{
	color: #555555;
	font-family: Georgia, serif;
	font-size: 16px;
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
	a{
		color: $black;
		line-height: 1.2;
		font-weight: bold;
	}
}

.col-2{
	.large-6{
		h1, h2{
			margin-top: 5px;
		}
	}
}

.byline{
	a{
		color: $black;
	}
}

.cta{
	font-size: 13px;
}

.tag{
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	margin-bottom: 5px;
	a{
		color: $black;
	}
}

.header--stacked{
	.date{
		margin-top: 10px;
	}
}

table.container table.row{
	.story.story-vertical{
		h1, h2 , h3, h4, h5, h6{
			margin-top: 10px;
		}
	}
}

.story{
	h1, h2, h3, h4, h5, h6{
		a{
			color: #000000;
		}
	}
}

table.container table.row .story.story-vertical h5.h5-3col{
	margin-top: 0;
}

@include mobile{

	h1::not('.header-title'){
		font-size: 22px !important;
	}
	h2{
		font-size: 18px !important;
	}
	h3{
		font-size: 16px !important;
	}

	table.body{
		.large-4, .large-6, .large-12{
			h1, h2, h3{
				margin-top: 5px !important;
			}
		}
	}
}
