.section-title{
  font-size: 28px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
  color: #0a0a0a !important;
}

.section-description{
  font-size: 16px;
  font-family: "Helvetica";
  font-style: italic;
  line-height: 22.4px;
  text-align: left;
  color: #0a0a0a !important;
}

.Rectangle{
  background-color: #000000;
}
.header-stacked-title{
  font-size: 35px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  color: #000000 !important;
}

.header-title{
  font-size: 35px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 38px;
  text-align: left;
  color: #fae325 !important;
}

.header-stacked-title-inverse{
  font-size: 35px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  color: #ffffff !important;
}

.Rectangle{
  background-color: transparent;
}
.cta{
  font-size: 13px;
  font-family: "Helvetica";
  line-height: 18.2px;
  text-align: left;
  color: #3c43b2 !important;
}

.deck{
  font-size: 16px;
  font-family: "Georgia";
  line-height: 24px;
  text-align: left;
  color: #686868 !important;
}

.deck{
  font-size: 16px;
  font-family: "Georgia";
  line-height: 24px;
  text-align: center;
  color: #686868 !important;
}

.headline{
  font-size: 20px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000 !important;
}

.h5-3col{
  font-size: 14px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  color: #000000 !important;
}

.tag{
  font-size: 11px;
  font-family: "Helvetica";
  line-height: 15.4px;
  text-align: left;
  color: #0a0a0a !important;
}

.feature-h1{
  font-size: 22px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: #000000 !important;
}

.color-block-h1{
  font-size: 35px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: #000000 !important;
}

.color-block-h1-inverse{
  font-size: 35px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: #ffffff !important;
}

.feature-h1-centered{
  font-size: 22px;
  font-family: "Helvetica";
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  color: #000000 !important;
}

.byline{
  font-size: 13px;
  font-family: "Georgia";
  font-style: italic;
  line-height: 18.2px;
  text-align: left;
  color: #000000 !important;
}

table.button table td{
  background-color: #d0021b;
}
.color-block-bg{
  background-color: #50e3c2;
}
.color-block-text-bg{
  background-color: #fff708;
}
.color-block-text-inverse-bg{
  background-color: #000000;
}
table.row.header-bg-inverse{
  background-color: #000000;
}
table.row.header-bg{
  background-color: #ffffff;
}
html, body, table.body{
  background-color: #f5f5f5;
}
