// Body Styles
body,
html,
.body {
  //background: #f3f3f3 url(http://image.email.variety.com/lib/fe9613727467027977/m/1/background2.jpg) center top repeat-x !important;
	background: #f3f3f3 url(../assets/img/bg1.jpg) center top no-repeat !important;
}

a{
	color: red;
}
