---
subject: Template 2
mock: true
---

<!-- Max Width for Outlook Fix -->
<!--[if mso]>
				<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
				    <v:fill type="tile" src="http://image.email.variety.com/lib/fe9613727467027977/m/1/background2.jpg" color="#000000"/>
				</v:background>
        <table height="100%" cellpadding="0" cellspacing="0" border="0" style="padding:0px;margin:0px;width:100%;">
			    <tr><td colspan="3" style="padding:0px;margin:0px;font-size:20px;height:20px;" height="20">&nbsp;</td></tr>
			    <tr>
		        <td style="padding:0px;margin:0px;">&nbsp;</td>
		        <td style="padding:0px;margin:0px;" width="700">
<![endif]-->

<container>
	{{> header-stacked logo="true" title="true" date="true" title_txt="Morning News Feed"  }}
	{{> story-feature-info imgTop="true" tag="true" title="true" deck="true" byline="true" readmore="true" centered="true"  }}
	{{> story-2col tag="true" title="true" deck="true" readmore="true" centered="true" byline="true"}}
	{{> story-3col tag="true" title="true" byline="true" centered="true"  }}
	{{> story-horizontal-imgsquare tag="true" title="true" deck="true" byline="true"}}
	{{> footer }}
	{{> footer-legal }}

	<!--[if mso]>
	        </td>
	        <td style="padding:0px;margin:0px;">&nbsp;</td>
	    </tr>
	    <tr><td colspan="3" style="padding:0px;margin:0px;font-size:20px;height:20px;" height="20">&nbsp;</td></tr>
	</table>
	<![endif]-->
