<row class="ad">
	<columns small="12" large="12" class="pad-bottom">
		{{#if 300x250}}
		<a href="#"><img width="300" height="250"  src="http://www.placehold.it/300x250" alt=""></a>
		{{/if}}
		{{#if 728x90}}
		<a href="#"><img width="728" height="90"  src="http://www.placehold.it/728x90" alt=""></a>
		{{/if}}
		{{#if 300x600}}
		<a href="#"><img width="300" height="600"  src="http://www.placehold.it/300x600" alt=""></a>
		{{/if}}
	</columns>
</row>
