<row>
	<columns small="12" large="12" class="cta">
		<h1 class="centered">Your weekly edition of {{brand}} is now available.</h1>
		<h4 class="centered">You are receiving this as part of your {{brand}} subscription.</h4>
		<center><a href="#"><img class="magazine" src="https://www.pubservice.com/Email/Images/RB/0124_EditIns1.jpg" alt=""></a></center>
		{{#if button}}
		<p class="centered">
			<center><button href="#" class="large">Read Now</button></center>
		</p>
		{{/if}}
	</columns>
</row>
