<!-- Footer -->
 <wrapper bgcolor="#000000" class="footer">
	 <row>
		 <columns large="6" small="12" class="logo">
			 <a href="#">
				 <img width="125" height="36" src="http://image.email.variety.com/lib/fe9613727467027977/m/1/Variety_White.png" alt="">
			 </a>
		 </columns>
			 <columns large="2" small="3" class="icon">
				 <a href="#"><img height="34" width="34" src="http://image.s7.exacttarget.com/lib/fe9413727466077476/m/1/footer_social_facebook.png" alt=""></a>
			 </columns>
			 <columns large="2" small="3" class="icon">
				 <a href="#"><img height="34" width="34"  src="http://image.s7.exacttarget.com/lib/fe9413727466077476/m/1/footer_social_twitter.png" alt=""></a>
			 </columns>
			 <columns large="2" small="3" class="icon">
				 <a href="#"><img height="34" width="34"  src="http://image.s7.exacttarget.com/lib/fe9413727466077476/m/1/footer_social_instagram.png" alt=""></a>
			 </columns>
			 <columns large="2" small="3" class="icon">
				 <a href="#"><img height="34" width="34"  src="http://image.s7.exacttarget.com/lib/fe9413727466077476/m/1/footer_social_linkedin.png" alt=""></a>
			 </columns>
	 </row>
	</wrapper>
