<!-- Footer Legal Copy -->
 <row class="footer-copy">
		 <columns large="12" small="12">
			 <p>This email was sent to <a href="#">jwood@pmc.com</a> by Variety. Please add to your address book to ensure delivery to your inbox.</p>
			 <p>Visit the <a href="#">Preferences Center</a> to update your profile and customize what email alerts and newsletters you receive.</p>
			 <p>Copyright © 2018 Variety Media, LLC, a subsidiary of Penske Business Media, LLC.</p>
			 <p>11175 Santa Monica Boulevard Los Angeles, CA, 90025</p>
			 <br>
			 <p><a href="#">View in Browser</a> | <a href="#">Privacy Policy</a> | <a href="#">Your Privacy Rights</a> | <a href="#">Terms of Use</a> | <a href="#">Unsubscribe</a></p>
		 </columns>
	 </row>
