<!-- Header Horizontal -->
<row class="header-meta">
	<columns large="6" small="6">
		<p class="text-left"><a href=“%%view_email_url%%”>View on web</a></p>
	</columns>
	<columns large="6" small="6">
		<p class="text-right"><a href=“%%=RedirectTo(@PrefCenter)=%%“>New reader? Subscribe</a></p>
	</columns>
</row>
<row class="header header--horizontal header-bg-inverse">
	<columns large="4" small="12" class="logo">
		<a href="#">
			<img width="209" height="60" src="http://image.email.variety.com/lib/fe9613727467027977/m/1/Variety_White.png" alt="">
		</a>
	</columns>
	<columns large="5" small="12" class="header--title">
		<h1 class="header-title">{{ title_txt }}</h1>
	</columns>
	<columns large="3" small="12" class="header--date">
		<h5 class="date">January 1, 2018</h5>
	</columns>
</row>
