<!-- Header Stacked -->
<row class="header-meta">
	<columns large="6" small="6">
		<p class="text-left"><a href=“%%view_email_url%%”>View on web</a></p>
	</columns>
	<columns large="6" small="6">
		<p class="text-right"><a href=“%%=RedirectTo(@PrefCenter)=%%“>New reader? Subscribe</a></p>
	</columns>
</row>
{{#if inverse}}
<row class="header header--stacked header-bg-inverse">
{{else}}
<row class="header header--stacked header-bg">
{{/if}}
	<columns large="12" small="12">
		<a href="#">
			{{#if logo}}
			<img class="logo" width="209" height="60" src="{{#if inverse}}http://image.email.variety.com/lib/fe9613727467027977/m/1/Variety_White.png{{else}}http://image.email.variety.com/lib/fe9613727467027977/m/1/Variety_Black.png{{/if}}" alt="">
			{{/if}}
			{{#if img}}
			<img class="logo-img" width="700" height="190" src="http://www.placehold.it/700x190" alt="">
			{{/if}}
		</a>
		{{#if inverse}}
		<h1 class="header-stacked-title-inverse">{{ title_txt }}</h1>
		{{else}}
		<h1 class="header-stacked-title">{{ title_txt }}</h1>
		{{/if}}
		<h4 class="date">January 1, 2018</h4>
	</columns>
</row>
