<!-- Section Title -->

<row class="section-title {{#if centered}}centered{{/if}} {{#if border}}border{{/if}}">
	<columns small="12" large="12">
		<h1 class="section-title">{{title_txt}}</h1>
		{{#if description}}
		<h4 class="section-description">{{description_txt}}</h4>
		{{/if}}
	</columns>
</row>
