<!-- Two Column - Color Block + Photo -->
<wrapper class="color-block-bg color-block">
	<row>
		<columns small="12" large="6" class="story block--img {{ style }}">
			<a href="#"><img width="330" height="330" src="{{mock "image"}}" alt=""></a>
		</columns>
		<columns small="12" large="6" bgcolor="#FFFFFF" class="story">
			{{#if tag}}
			<p><a class="tag" href="#">{{mock "tag"}}</a></p>
			{{/if}}
			<h1><a class="feature-h1" href="#">{{mock "title"}}</a></h1>
			{{#if deck}}
			<p class="deck">{{mock "excerpt"}}</p>
			{{/if}}
			{{#if readmore}}
			<button href="#">Read More</button>
			{{/if}}
		</columns>
	 </row>
 </wrapper>
