<!-- Text Left 50% - Image Right 50% -->
 {{#if imgRight}}
	<row class="reverse stack-mobile story-horizontal">
 {{else}}
	<row class="stack-mobile story-horizontal">
 {{/if}}
		<columns small="12" large="6" class="story">
			<a href="#"><img width="314" height="176"  src="{{ photo }}" alt=""></a>
		</columns>
		<columns small="12" large="6" class="story">
			{{#if tag}}
			<p><a class="tag" href="#">{{mock "tag"}}</a></p>
			{{/if}}
			<h2><a class="headline" href="#">{{mock "title"}}</a></h2>
			{{#if deck}}
			<p class="deck">{{mock "excerpt"}}</p>
			{{/if}}
			{{#if readmore}}
			<p class="cta"><a href="#">Read More</a></p>
			{{/if}}
			{{#if button}}
	 			<button href="#">Read More</button>
	 	  {{/if}}
		</columns>
	</row>
