<!-- Feature Story - Side Stacked -->
<row class="feature-sidestack-img">
	<columns small="12" large="12" class="story">
		<a href="#"><img width="660" height="370"  src="https://pmcvariety.files.wordpress.com/2017/07/quentin-tarantino.jpg?w=700&h=393&crop=1" alt=""></a>
		<p style="height: 0; display: block; margin-bottom: 0;">.</p> <!-- Empty P tag fixes Outlook bug -->
	</columns>
</row>
<row class="feature-sidestack story">
	<columns large="6">
		{{#if tag}}
		<p><a class="tag" href="#">{{mock "tag"}}</a></p>
		{{/if}}
		<h1><a class="feature-h1" href="#">{{mock "title"}}</a></h1>
	</columns>
	<columns large="6">
		<p class="deck">{{mock "deck"}}</p>
		{{#if readmore}}
		<p class="cta"><a href="#">Read More</a></p>
		{{/if}}
		{{#if button}}
 			<button href="#">Read More</button>
 	  {{/if}}
	</columns>
</row>
