<!-- Two Column side by side stories -->
<row class="col-2">
	<columns small="12" large="6" class="story story-tag pad-bottom {{#if centered}}centered{{/if}}">
		<a href="#"><img src="{{mock "image"}}?w=304&h=170&crop=1" alt="" width="304" height="170"></a>
		{{#if tag}}
		<p><a class="tag" href="#">{{mock "tag"}}</a></p>
		{{/if}}
		<h2><a class="headline" href="#">{{mock "title"}}</a></h2>
		{{#if deck}}
		<p class="deck">{{mock "excerpt"}}</p>
		{{/if}}
		<p>
		{{#if byline}}
				<a class="byline" href="#">{{mock "author"}}</a>
		{{/if}}

		{{#if byline}}{{#if readmore}}
			<span> &middot; </span>
		{{/if}}{{/if}}

		{{#if readmore}}
				<a class="cta" href="#">Read More</a>
		{{/if}}

		{{#if button}}
 			<button href="#">Read More</button>
 	  {{/if}}
	</columns>
	{{#if ad}}
	<columns small="12" large="6" class="story story-tag {{#if centered}}centered{{/if}}">
		<a href="#"><img width="300" height="600"  src="http://www.placehold.it/300x250" alt=""></a>
		</p>
	</columns>
 {{else}}
 <columns small="12" large="6" class="story story-tag {{#if centered}}centered{{/if}}">
	 <a href="#"><img src="{{mock "image"}}?w=304&h=170&crop=1" alt="" width="304" height="170"></a>
	 {{#if tag}}
	 <p><a class="tag" href="#">{{mock "tag"}}</a></p>
	 {{/if}}
	 <h2><a class="headline" href="#">{{mock "title"}}</a></h2>
	 {{#if deck}}
	 <p class="deck">{{mock "excerpt"}}</p>
	 {{/if}}
	 <p>
	 {{#if byline}}
			 <a class="byline" href="#">{{mock "author"}}</a>
	 {{/if}}

	 {{#if byline}}{{#if readmore}}
		 <span> &middot; </span>
	 {{/if}}{{/if}}

	 {{#if readmore}}
			 <a class="cta" href="#">Read More</a>
	 {{/if}}

	 {{#if button}}
			<button href="#">Read More</button>
	 {{/if}}
	 </p>
 </columns>
 {{/if}}
</row>
