<!-- One Column - Color Block -->

<wrapper class="color-block color-block-cta {{#if inverse}}color-block-inverted color-block-text-inverse-bg{{else}}color-block-text-bg{{/if}}">
	<row>
		<columns small="12" large="12" class="story">
			<h1><a class="{{#if inverse}}color-block-h1-inverse{{else}}color-block-h1{{/if}}" href="#">{{ title_txt }}</a></h1>
			{{#if deck}}
			<p>{{ deck_txt }}</p>
			{{/if}}
			{{#if readmore}}
			<center><button href="#">Read More</button></center>
			{{/if}}
		</columns>
	 </row>
 </wrapper>
