<!-- Image Left Square 25% - Text Right 75% -->
{{#if imgRight}}
 	<row class="reverse mobile-2col story-imgsquare">
  {{else}}
 	<row class="mobile-2col story-imgsquare">
  {{/if}}
	<columns small="3" large="4" class="story image">
		<a href="#"><img width="199" height="199" src="{{ photo "square" }}?w=199&h=199&crop=1" alt=""></a>
	</columns>
	<columns small="9" large="8" class="story">
		{{#if tag}}
		<p><a class="tag" href="#">{{mock "tag"}}</a></p>
		{{/if}}
		<h2><a class="headline" href="#">{{mock "title"}}</a></h2>
		{{#if deck}}
		<p class="deck">{{mock "excerpt"}}</p>
		{{/if}}
		{{#if button}}
 			<button href="#">Read More</button>
 	  {{/if}}
	</columns>
</row>
