<!-- Three Column side by side stories -->
	<row>
		<columns small="12" large="4" class="story story-tag">
			<a href="#"><img width="199" height="123" src="{{mock "image"}}?w=199&h=123&crop=1" alt=""></a>
			{{#if tag}}
			<p><a class="tag" href="#">{{mock "tag"}}</a></p>
			{{/if}}
			<h5><a class="h5-3col" href="#">{{mock "title"}}</a></h5>
				{{#if byline}}
						<p><a class="byline" href="#">{{mock "author"}}</a></p>
				{{/if}}

				{{#if readmore}}
						<p><a class="cta" href="#">Read More</a></p>
				{{/if}}

				{{#if button}}
		 			<button href="#">Read More</button>
		 	  {{/if}}
		</columns>
		<columns small="12" large="4" class="story story-tag">
			<a href="#"><img width="199" height="123" src="{{mock "image"}}?w=199&h=123&crop=1" alt=""></a>
			{{#if tag}}
			<p><a class="tag" href="#">{{mock "tag"}}</a></p>
			{{/if}}
			<h5><a class="h5-3col" href="#">{{mock "title"}}</a></h5>
				{{#if byline}}
						<p><a class="byline" href="#">{{mock "author"}}</a></p>
				{{/if}}

				{{#if readmore}}
						<p><a class="cta" href="#">Read More</a></p>
				{{/if}}

				{{#if button}}
		 			<button href="#">Read More</button>
		 	  {{/if}}
		</columns>
		<columns small="12" large="4" class="story story-tag">
			<a href="#"><img width="199" height="123" src="{{mock "image"}}?w=199&h=123&crop=1" alt=""></a>
			{{#if tag}}
			<p><a class="tag" href="#">{{mock "tag"}}</a></p>
			{{/if}}
			<h5><a class="h5-3col" href="#">{{mock "title"}}</a></h5>
				{{#if byline}}
						<p><a class="byline" href="#">{{mock "author"}}</a></p>
				{{/if}}

				{{#if readmore}}
						<p><a class="cta" href="#">Read More</a></p>
				{{/if}}

				{{#if button}}
		 			<button href="#">Read More</button>
		 	  {{/if}}
		</columns>
	</row>
