<!-- Feature Story -->
<row>
	<columns small="12" large="12" class="story feature-img-text pad-bottom {{#if centered}}centered{{/if}}">
		{{#if imgTop}}
		<a href="#"><img width="660" height="370"  src="{{mock "image"}}" alt=""></a>
		{{/if}}
		{{#if tag}}
		<p><a class="tag" href="#">{{mock "tag"}}</a></p>
		{{/if}}
		{{#if title}}
		<h1><a class="feature-h1" href="#">{{mock "title"}}</a></h1>
		{{/if}}
		{{#if deck}}
		<p class="deck">{{mock "excerpt"}}</p>
		{{/if}}

		<p>
		{{#if byline}}
				<a class="byline" href="#">{{mock "author"}}</a>
		{{/if}}

		{{#if byline}}{{#if readmore}}
			<span> &middot; </span>
		{{/if}}{{/if}}

		{{#if readmore}}
				<a class="cta" href="#">Read More</a>
		{{/if}}
		</p>

		{{#if button}}
 			<button href="#">Read More</button>
 	  {{/if}}

		{{#if imgBottom}}
		<a href="#"><img width="660" height="370"  src="https://pmcvariety.files.wordpress.com/2017/11/justice-league-6.jpg?w=700&h=393&crop=1" alt=""></a>
		{{/if}}
	</columns>
</row>
