<!-- Text Only 100% -->
{{#if centered}}
<row class="mobile-2col centered">
{{else}}
<row class="mobile-2col">
{{/if}}
	<columns small="12" large="12" class="story">
		{{#if tag}}
		<p><a class="tag" href="#">{{mock "tag"}}</a></p>
		{{/if}}
		<h2><a class="headline" href="#">{{mock "title"}}</a></h2>
		{{#if deck}}
		<p class="deck">{{mock "deck"}}</p>
		{{/if}}
		{{#if readmore}}
		<p class="cta"><a href="#">Read More</a></p>
		{{/if}}
		{{#if button}}
 			<button href="#">Read More</button>
 	  {{/if}}
	</columns>
</row>
